<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="QuanLyNhaSachDB" connectionString="Data Source=DESKTOP-0A0A99\SQLEXPRESS;Initial Catalog=QUAN_LY_NHA_SACH;Integrated Security=True" />
        <add name="WindowsApp.Properties.Settings.QUAN_LY_NHA_SACHConnectionString"
            connectionString="Data Source=DESKTOP-0A0A99\SQLEXPRESS;Initial Catalog=QUAN_LY_NHA_SACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>